.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #1a1a1a; /* Dark background */
    height: 100vh;
    font-family: 'Comic Neue'; /* Comic-like font */
    color: #ffffff; /* White text */
}

.home-container h1 {
    color: #007bff; /* Bright blue */
    margin-bottom: 20px;
    text-shadow: 2px 2px #000000; /* Black text shadow for contrast */
}

.home-container p {
    background: #333333; /* Dark shade for paragraph background */
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    color: #ffffff; /* White text */
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.dashboard-link {
    background: #007bff; /* Bright blue */
    color: #ffffff; /* White text */
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.dashboard-link-two {
    background: white; /* Bright blue */
    color: black; /* White text */
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.dashboard-link:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}

.continue-session-btn {
    padding: 10px 20px;
    background-color: #007bff; /* Bright blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.continue-session-btn:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}
