.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a; /* Dark background */
    font-family: 'Comic Neue', cursive; /* Comic-like font */
}

.login-section,
.get-started-section {
    margin: 20px;
    padding: 20px;
    background: #333333; /* Dark shade */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
    color: #ffffff; /* White text */
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form .form-group label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
    color: #ffffff; /* White text */
}

.login-form .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #007bff; /* Blue border */
    font-size: 1rem;
    background: #222222; /* Dark background for input fields */
    color: #ffffff; /* White text */
}

.login-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Bright blue */
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}

.get-started-section {
    background-color: #0056b3; /* Dark blue */
    color: #ffffff; /* White text */
    padding: 20px;
    border-radius: 10px;
}

.get-started-section h3 {
    margin-bottom: 10px;
}

.get-started-section p {
    margin-bottom: 15px;
}

.get-started-button {
    background-color: #007bff; /* Bright blue */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.get-started-button:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}
