.session-history-container {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #1a1a1a; /* Dark background */
    font-family: 'Comic Neue'; /* Comic-like font */
}

.session-history-container h2 {
    color: #ffffff; /* White text */
    margin-bottom: 20px;
}

.session-history-entry {
    background: #333333; /* Dark shade */
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    color: #ffffff; /* White text */
    width: 100%;
    max-width: 500px;
    text-align: left;
    margin-left: 25%

}

.session-history-entry h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ffffff; /* White text */
}

.session-history-entry p {
    margin-bottom: 5px;
    color: #ffffff; /* White text */
}

.session-history-entry time {
    font-style: italic;
    color: #007bff; /* Bright blue */
}
label[for="studyMethodFilter"] {
    display: block;
    margin-bottom: 8px;
  }
  
  #studyMethodFilter {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    width: 200px; /* Adjust the width as needed */
  }
  .scrollable-entries {
    margin-top: 50px;
    max-height: 600px; /* Set the maximum height as needed */
    overflow-y: auto;
  }
  .method-checkbox input {
    margin-right: 5px; /* Adjust the margin as needed */

  }
  
  .method-checkbox label {
    padding-left: 5px; /* Adjust the padding as needed */
  }

  .method-checkbox {
    color: white;
    padding: 10px;
  }