.study-methods-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh; /* Ensures that the container fills the screen height */
    background-color: #1a1a1a; /* Dark background */
    font-family: 'Comic Neue'; /* Comic-like font */
    color: white; /* White text */
}

.study-methods-container h1 {
    margin-bottom: 20px;
}

.study-methods-container ul {
    list-style: none;
    padding: 0;
    width: 100%; /* Ensures that the list covers the full width of its container */
    margin-left: 50%;

}

.study-methods-container li {
    background: #333333; /* Dark shade */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 500px;
    cursor: pointer; /* Indicates that the list items are interactive */
}

.study-methods-container h2 {
    color: #007bff; /* Bright blue */
    margin-bottom: 10px;
}

.study-methods-container p {
    margin-bottom: 20px;
}

.method-link {
    color: #007bff; /* Bright blue */
    text-decoration: none;
    display: inline-block; /* Allows for better control of spacing and interaction */
    margin-top: 10px; /* Adds space above the link */
}

.method-link:hover {
    text-decoration: underline;
}
